* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.col-2,
.col-7,
.col-3 {
  margin: 0 !important;
  padding: 0 !important;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

.cards div {
  display: flex;
  flex: 1 1 50%;
  max-width: 775px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.cards .card_initial {
  background-color: #3b49df;
  border-radius: 10px;
  display: flex;
  height: 650px;
  padding: 32px 48px;
  flex-direction: row;
  flex-wrap: wrap;
}
.cards .card_initial .imagen_logo {
  height: 115px;
  padding-bottom: 5px;
  margin: 0px;
}
.cards .card_initial button {
  background-color: #3b49df;
  border: none;
  height: 22px;
  margin: 0px;
  padding: 0px 2px;
  position: relative;
  top: -8px;
}
.cards .card_initial button i {
  padding: 0px;
  margin: 0px;
  color: #ffffff;
}
.cards .card_initial h2 {
  color: white;
  display: flex;
  font-size: 37px;
  font-weight: 800;
  margin: 0;
  height: 63px;
  padding: 0;
}
.cards .card_initial span {
  color: #ffffff;
  font-size: 16px;
  margin: 0;
  width: 800px;
}
.cards .happy {
  background-color: rgba(255, 255, 255, 0.1764705882);
  border-radius: 10px;
  height: 80px;
  max-width: 665px;
  padding: 30px 20px;
}
.cards .happy a {
  text-decoration: none;
}
.cards .happy i {
  color: #ffffff;
  padding-left: 350px;
}
.cards .hand {
  background-color: rgba(255, 255, 255, 0.1764705882);
  border-radius: 10px;
  height: 80px;
  max-width: 665px;
  padding: 30px 20px;
}
.cards .hand a {
  text-decoration: none;
}
.cards .hand i {
  color: #ffffff;
  padding-left: 260px;
}
.cards .fingers {
  background-color: rgba(255, 255, 255, 0.1764705882);
  border-radius: 10px;
  height: 80px;
  max-width: 665px;
  padding: 30px 20px;
}
.cards .fingers a {
  text-decoration: none;
}
.cards .fingers i {
  color: #ffffff;
  padding-left: 370px;
}
.cards .menu_line {
  display: flex;
  gap: 30px;
  font-size: 20px;
}
.cards .menu_line a {
  text-decoration: none;
  color: rgb(104, 101, 101);
}
.cards .card_vista {
  max-width: 775px;
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
}
.cards .card_vista img {
  border: solid 1px rgba(110, 110, 109, 0.692);
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 775px;
}
.cards .card_vista .luis {
  border: solid 1px rgba(110, 110, 109, 0.692);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0;
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
  max-width: 775px;
  height: 250px;
  padding: 30px;
}
.cards .card_vista .luis img {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  padding: 0;
}
.cards .card_vista .luis button {
  border: none;
  background: #ffffff;
  height: 30px;
  margin: 0;
}
.cards .card_vista .luis button .jasper {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
  padding-left: 10px;
  text-align: start;
}
.cards .card_vista .luis button p {
  font-size: 16px;
  padding-left: 10px;
}
.cards .card_vista .luis .How {
  font-size: 30px;
  font-weight: 900;
  padding-left: 70px;
  text-decoration: none;
  color: black;
}
.cards .card_vista .luis .hash {
  padding-left: 70px;
  gap: 30px;
}
.cards .card_vista .luis .hash a {
  color: black;
  text-decoration: none;
}
.cards .card_vista .luis .botones {
  height: 40px;
  margin-top: 15px;
  padding-top: 10px;
  padding-left: 70px;
}
.cards .card_vista .luis .botones p {
  padding-left: 5px;
  padding-top: 5px;
  margin: 0;
  font-size: 14px;
}
.cards .card_vista .luis .botones div {
  padding-left: 375px;
}
.cards .card_vista .luis .botones div p {
  font-size: 12px;
}
.cards .card_vista .luis .botones button {
  padding-right: 10px;
  margin: 0;
}
.cards .card_vista .luis .botones button img {
  border: none;
  border-radius: 0%;
  height: 25px;
  width: 25px;
}
.cards .tarj-comments {
  border: solid 1px rgba(110, 110, 109, 0.692);
  border-radius: 10px;
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
  max-width: 775px;
  height: 250px;
  padding: 30px;
}
.cards .tarj-comments img {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  padding: 0;
}
.cards .tarj-comments button {
  border: none;
  background: #ffffff;
  height: 30px;
  margin: 0;
}
.cards .tarj-comments button .jasper {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
  padding-left: 10px;
  text-align: start;
}
.cards .tarj-comments button p {
  font-size: 16px;
  padding-left: 10px;
}
.cards .tarj-comments .How {
  font-size: 25px;
  font-weight: 900;
  padding-left: 70px;
  text-decoration: none;
  color: black;
}
.cards .tarj-comments .hash {
  padding-left: 70px;
  gap: 30px;
}
.cards .tarj-comments .hash a {
  color: black;
  text-decoration: none;
}
.cards .tarj-comments .botones {
  height: 40px;
  margin-top: 15px;
  padding-top: 10px;
  padding-left: 70px;
}
.cards .tarj-comments .botones p {
  padding-left: 5px;
  padding-top: 5px;
  margin: 0;
  font-size: 14px;
}
.cards .tarj-comments .botones div {
  padding-left: 375px;
}
.cards .tarj-comments .botones div p {
  font-size: 12px;
}
.cards .tarj-comments .botones button {
  padding-right: 10px;
  margin: 0;
}
.cards .tarj-comments .botones button img {
  border: none;
  border-radius: 0%;
  height: 25px;
  width: 25px;
}
.happy:hover {
  background-color: rgba(255, 255, 255, 0.3647058824);
}

.hand:hover {
  background-color: rgba(255, 255, 255, 0.3647058824);
}

.fingers:hover {
  background-color: rgba(255, 255, 255, 0.3647058824);
}

.menu_line a:hover {
  cursor: pointer;
  color: #2433d8;
}

.jasper:hover {
  background-color: rgba(110, 110, 109, 0.123);
  border-radius: 5px;
}/*# sourceMappingURL=styles.css.map */