@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap%27");
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.row, .col-2, .col-7, .col-3 {
  background-color: rgb(243, 243, 243);
  margin: 0 !important;
}

.post_section {
  padding-bottom: 20px;
}
.post_section .menu_section__card {
  background-color: rgb(249, 249, 249);
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.05);
  display: grid;
  margin: 1rem 0 0 0;
}
.post_section .menu_section__card .menu_section__card__title {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.post_section .menu_section__card .menu_section__card__title h3 {
  font-size: small;
  margin: 0;
  padding: 0.5rem 0.5rem;
}
.post_section .menu_section__card .menu_section__card__title i {
  padding: 0.5rem;
}
.post_section .menu_section__card .menu_section__card__title i:hover {
  background-color: rgb(224, 225, 240);
  border-radius: 0.3rem;
  color: rgb(50, 57, 169);
}
.post_section .menu_section__card .menu_section__card__image {
  display: flex;
  padding-left: 50px;
}
.post_section .menu_section__card .menu_section__card__image img {
  border-radius: 6px;
  height: 200px;
  width: 600px;
}
.post_section .menu_section__card p {
  max-width: auto;
  padding-left: 50px;
}
.post_section .menu_section__card p strong span {
  font-size: 25px;
}
.post_section .menu_section__card p a {
  color: rgb(55, 64, 215);
}
.post_section .menu_section__card p a:hover {
  color: rgb(44, 51, 166);
}
.post_section .post_section__main {
  background-color: rgb(243, 243, 243);
  padding-top: 20px;
}
.post_section .post_section__main .post_section__main--bluecard {
  background-color: rgb(55, 64, 215);
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
}
.post_section .post_section__main .post_section__main--bluecard .logo {
  display: flex;
}
.post_section .post_section__main .post_section__main--bluecard .logo img {
  display: inline;
  height: 100px;
  width: 100px;
}
.post_section .post_section__main .post_section__main--bluecard .boton-close button {
  background-color: transparent;
  border: 0;
  color: white;
}
.post_section .post_section__main .post_section__main--bluecard .emojis {
  flex: 1 1 100%;
}
.post_section .post_section__main .post_section__main--bluecard .emojis h2 {
  color: white;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: 8px;
}
.post_section .post_section__main .post_section__main--bluecard .emojis p {
  color: rgb(184, 187, 241);
  font-size: 0.8rem;
  margin: 0;
}
.post_section .post_section__main .post_section__main--bluecard .emojis ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  padding-left: 0;
  padding-right: 40px;
  padding-top: 20px;
}
.post_section .post_section__main .post_section__main--bluecard .emojis ul li {
  align-items: center;
  background-color: rgb(95, 102, 223);
  border-radius: 6px;
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  padding: 20px;
}
.post_section .post_section__main .post_section__main--bluecard .emojis ul li:hover {
  background-color: rgb(115, 122, 227);
}
.post_section .post_section__main .post_section__main--bluecard .emojis ul li a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}
.post_section .post_section__main .post_section__main--bluecard .emojis ul li i {
  color: white;
}
.post_section .post_section__main .post_section__main--menu-aling {
  padding: 15px;
}
.post_section .post_section__main .post_section__main--menu-aling a {
  color: #575757;
  font-size: 18px;
  padding: 12px 10px;
  text-decoration: none;
}
.post_section .post_section__main .post_section__main--menu-aling a:hover {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.05);
  color: rgb(50, 57, 169);
}
.post_section .post_section__main .post_section__main--post {
  background-color: white;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  max-width: 700px;
}
.post_section .post_section__main .post_section__main--post .post-img {
  background-image: url(https://picsum.photos/700/1000);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  flex: 1 1 100%;
  height: 200px;
}
.post_section .post_section__main .post_section__main--post .post-img--posting {
  background-image: url(https://picsum.photos/700/1000);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  flex: 1 1 100%;
  height: 400px;
}
.post_section .post_section__main .post_section__main--post .user-img {
  align-items: center;
  display: flex;
  justify-content: end;
  padding-right: 10px;
  padding-top: 15px;
  padding: 10px;
}
.post_section .post_section__main .post_section__main--post .user-img .user-data {
  display: flex;
  flex-wrap: wrap;
}
.post_section .post_section__main .post_section__main--post .user-img .user-data .user-post--name {
  color: #474747;
  display: block;
  flex: 1 1 100%;
  font-size: 18px;
  margin-top: 15px;
  text-decoration: none;
}
.post_section .post_section__main .post_section__main--post .user-img .user-data .user-post--name span {
  border-radius: 6px;
  padding: 4px;
}
.post_section .post_section__main .post_section__main--post .user-img .user-data .user-post--name span:hover {
  background-color: rgb(246, 246, 246);
}
.post_section .post_section__main .post_section__main--post .user-img .user-data .user-post--date {
  color: #979494;
  flex: 1 1 100%;
  padding-left: 4px;
  text-decoration: none;
}
.post_section .post_section__main .post_section__main--post .user-img .user-data .user-post--date:hover {
  color: black;
}
.post_section .post_section__main .post_section__main--post .user-img img {
  border-radius: 50%;
  height: 40px;
  margin-top: 5px;
  width: 40px;
}
.post_section .post_section__main .post_section__main--post .user-post {
  display: flex;
  flex-wrap: wrap;
}
.post_section .post_section__main .post_section__main--post .user-post .post-content {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}
.post_section .post_section__main .post_section__main--post .user-post .post-content p {
  min-width: 0;
  width: 100%;
}
.post_section .post_section__main .post_section__main--post .user-post .top-comments {
  border-top: solid 1px rgba(150, 150, 150, 0.3);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0 50px;
  width: 700px;
}
.post_section .post_section__main .post_section__main--post .user-post .top-comments .top-comments--bottom {
  display: flex;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}
.post_section .post_section__main .post_section__main--post .user-post .top-comments .top-comments--bottom div {
  display: flex;
  gap: 15px;
  padding: 10px;
}
.post_section .post_section__main .post_section__main--post .user-post .top-comments .top-comments--textarea {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.post_section .post_section__main .post_section__main--post .user-post .top-comments .top-comments--textarea img {
  border-radius: 50%;
  height: 40px;
  margin-top: 5px;
  width: 40px;
}
.post_section .post_section__main .post_section__main--post .user-post .top-comments .top-comments--subscribe {
  align-content: center;
  align-items: center;
  display: flex;
  gap: 340px;
  justify-content: space-around;
  padding-top: 20px;
}
.post_section .post_section__main .post_section__main--post .user-post .top-comments .top-comments--subscribe h2 {
  font-size: 20px;
  margin: 0;
  white-space: nowrap;
}
.post_section .post_section__main .post_section__main--post .user-post .top-comments .top-comments--subscribe a {
  background-color: rgb(249, 249, 249);
  border-radius: 6px;
  border: solid 1px rgb(50, 57, 169);
  color: rgb(50, 57, 169);
  padding: 7px 15px;
  text-decoration: none;
}
.post_section .post_section__main .post_section__main--post .user-post .top-comments .top-comments--subscribe a:hover {
  background: rgb(50, 57, 169);
  color: white;
  text-decoration: underline;
}
.post_section .post_section__main .post_section__main--post .user-post .user-post--title {
  font-size: xx-large;
  font-weight: bold;
  padding-left: 50px;
}
.post_section .post_section__main .post_section__main--post .user-post .user-post--title:hover {
  color: rgb(43, 50, 164);
}
.post_section .post_section__main .post_section__main--post .user-post a {
  color: rgb(23, 23, 23);
  flex: 1 1 100%;
  text-decoration: none;
}
.post_section .post_section__main .post_section__main--post .user-post .hash {
  flex: 1 1 100%;
  margin: 10px 0px;
  padding-left: 50px;
}
.post_section .post_section__main .post_section__main--post .user-post .hash a {
  border-radius: 6px;
  padding: 7px;
}
.post_section .post_section__main .post_section__main--post .user-post .hash a:hover {
  background-color: rgb(246, 246, 246);
  box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
}
.post_section .post_section__main .post_section__main--post .user-post .comments {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 50px;
}
.post_section .post_section__main .post_section__main--post .user-post .comments .time {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: end;
  padding-right: 30px;
}
.post_section .post_section__main .post_section__main--post .user-post .comments .time i {
  align-items: center;
  display: flex;
  padding: 10px;
}
.post_section .post_section__main .post_section__main--post .user-post .comments .time i:hover {
  background-color: rgb(224, 225, 240);
  border-radius: 0.3rem;
  color: rgb(50, 57, 169);
}
.post_section .post_section__main .post_section__main--post .user-post .comments .add {
  display: flex;
}
.post_section .post_section__main .post_section__main--post .user-post .comments .add span {
  border-radius: 6px;
  padding: 8px;
}
.post_section .post_section__main .post_section__main--post .user-post .comments .add span:hover {
  background-color: rgb(246, 246, 246);
  box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
}
.post_section .post_section__main .post_section__main--post .user-post .comments .add span::before {
  content: "\f075";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  padding-right: 5px;
}

.header {
  background-color: rgb(245, 245, 245);
  border-bottom: solid 1px rgb(150, 150, 150);
  box-shadow: 0 0 0 2px rgba(23, 23, 23, 0.05);
  display: flex;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.header .header-container {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header .header-container .icons {
  display: flex;
  padding-right: 100px;
}
.header .header-container .icons .create-post {
  align-items: center;
  display: flex;
  gap: 15px;
}
.header .header-container .icons .create-post .bell {
  font-size: 23px;
  padding: 5px 10px;
  position: relative;
}
.header .header-container .icons .create-post .bell::after {
  background-color: red;
  border-radius: 6px;
  bottom: 18px;
  color: white;
  content: "20";
  font-family: "Inter", sans-serif;
  font-size: 10px;
  left: 19px;
  padding: 3px;
  position: absolute;
}
.header .header-container .icons .create-post .bell:hover {
  background-color: rgb(224, 225, 240);
  border-radius: 0.3rem;
  color: rgb(50, 57, 169);
}
.header .header-container .icons .create-post .user {
  font-size: 23px;
}
.header .header-container .icons .create-post .user:hover {
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgba(23, 23, 23, 0.05);
}
.header .header-container .icons .create-post a {
  background-color: rgb(249, 249, 249);
  border-radius: 6px;
  border: solid 1px rgb(50, 57, 169);
  color: rgb(50, 57, 169);
  padding: 7px 15px;
  text-decoration: none;
}
.header .header-container .icons .create-post a:hover {
  background: rgb(50, 57, 169);
  color: white;
  text-decoration: underline;
}
.header .header-container .logo-search {
  display: flex;
  gap: 20px;
  padding-left: 65px;
}
.header .header-container .logo-search img {
  border-radius: 10%;
  width: 40px;
}
.header .header-container .logo-search .search-bar {
  align-items: center;
  background-color: white;
  border-radius: 6px;
  border: solid 1px rgb(120, 120, 120);
  display: flex;
  justify-content: space-between;
}
.header .header-container .logo-search .search-bar:hover {
  border: solid 2px rgb(50, 57, 169);
}
.header .header-container .logo-search .search-bar input {
  border-color: transparent;
  border-style: none;
  border-width: 0px;
  outline: none;
  padding: 5px;
}
.header .header-container .logo-search .search-bar img {
  padding: 5px;
  width: 40px;
}
.header .header-container .logo-search .search-bar img:hover {
  background-color: rgb(224, 225, 240);
  border-radius: 0.3rem;
  color: rgb(50, 57, 169);
}

.row_footer {
  background: rgb(229, 229, 229);
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 50px 80px;
  width: 100%;
}
.row_footer .footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 80px;
}
.row_footer .footer_container .text_1 p {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  justify-content: center;
  margin-bottom: 0;
  padding: 4px;
  width: auto;
}
.row_footer .footer_container .text_1 p a {
  color: rgb(59, 73, 223);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bolder;
  text-decoration: none;
  transition: 0.3s;
}
.row_footer .a_list, .row_footer .b_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4px;
  padding-bottom: 0;
  padding-top: 0;
  padding: 20px;
  width: auto;
}
.row_footer .a_list li, .row_footer .b_list li {
  color: rgb(59, 73, 223);
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  list-style: none;
  padding: 3px;
}
.row_footer .a_list li a, .row_footer .b_list li a {
  color: rgb(59, 73, 223);
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  white-space: nowrap;
}
.row_footer .a_list li span, .row_footer .b_list li span {
  color: rgb(113, 112, 112);
  margin: 5px;
}
.row_footer .text_2 p {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  gap: 5px;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: auto;
}
.row_footer .text_2 p .final_anchor2 {
  color: rgb(59, 73, 223);
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.row_footer .names {
  color: rgb(188, 183, 183);
  display: flex;
  flex-direction: row;
  font-size: 5px;
  gap: 3px;
}

.menu_section {
  align-items: start;
  background-color: rgb(243, 243, 243);
  min-width: 300px;
}
.menu_section .side-menu--post {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 20px;
  padding-top: 100px;
  position: fixed;
}
.menu_section .side-menu--post .heart i {
  font-size: 25px;
  margin-top: 25px;
  text-align: center;
}
.menu_section .side-menu--post .heart i:hover {
  color: red;
}
.menu_section .side-menu--post .heart p {
  color: gray;
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
}
.menu_section .side-menu--post .comment i {
  font-size: 25px;
  margin-top: 25px;
  text-align: center;
}
.menu_section .side-menu--post .comment i:hover {
  color: orange;
}
.menu_section .side-menu--post .comment p {
  color: gray;
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
}
.menu_section .side-menu--post .bookmark i {
  font-size: 25px;
  margin-top: 25px;
  text-align: center;
}
.menu_section .side-menu--post .bookmark i:hover {
  color: rgb(43, 50, 164);
}
.menu_section .side-menu--post .bookmark p {
  color: gray;
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
}
.menu_section .side-menu--post .points i {
  align-items: center;
  display: flex;
  height: 35px;
  justify-content: center;
  width: 35px;
}
.menu_section .side-menu--post .points i:hover {
  background-color: rgb(224, 225, 240);
  border-radius: 50%;
}
.menu_section .side-menu--main {
  display: grid;
  padding-top: 20px;
  place-content: center;
}
.menu_section .side-menu--main .menu_section__sidebar__menu {
  display: flex;
  width: 100%;
}
.menu_section .side-menu--main .menu_section__sidebar__menu .menu_section__sidebar__menu__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
.menu_section .side-menu--main .menu_section__sidebar__menu .menu_section__sidebar__menu__list .menu_section__sidebar__title {
  font-size: medium;
  font-weight: bold;
  margin: 0;
  padding: 1rem 1rem 0.5rem 0.5rem;
}
.menu_section .side-menu--main .menu_section__sidebar__menu .menu_section__sidebar__menu__list li {
  margin: 0;
  width: 260px;
}
.menu_section .side-menu--main .menu_section__sidebar__menu .menu_section__sidebar__menu__list li a {
  color: rgb(56, 56, 56);
  display: flex;
  font-size: medium;
  margin: 0;
  padding: 0.5rem;
  text-decoration: none;
}
.menu_section .side-menu--main .menu_section__sidebar__menu .menu_section__sidebar__menu__list li a img {
  bottom: 1px;
  height: 25px;
  position: relative;
  width: 25px;
}
.menu_section .side-menu--main .menu_section__sidebar__menu .menu_section__sidebar__menu__list li a:hover {
  background-color: rgb(224, 225, 240);
  border-radius: 0.3rem;
  color: rgb(50, 57, 169);
  text-decoration: underline;
}
.menu_section .side-menu--main .social-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.menu_section .side-menu--main .social-container .menu_section__social {
  align-items: center;
  display: flex;
  font-size: 22px;
  justify-content: space-around;
  width: 100%;
}
.menu_section .side-menu--main .social-container .menu_section__social a {
  color: rgb(56, 56, 56);
  padding: 0.5rem;
  text-decoration: none;
}
.menu_section .side-menu--main .social-container .menu_section__social a:hover {
  background-color: rgb(224, 225, 240);
  border-radius: 0.3rem;
  color: rgb(50, 57, 169);
}
.menu_section .side-menu--main .tags-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.menu_section .side-menu--main .tags-container .menu_section__tags {
  align-items: center;
  display: flex;
  font-size: 22px;
  justify-content: space-between;
  padding: 1rem 0 4rem 0;
  width: 100%;
}
.menu_section .side-menu--main .tags-container .menu_section__tags .menu_section__tags__title {
  font-size: medium;
  font-weight: bold;
  margin: 0;
}
.menu_section .side-menu--main .tags-container .menu_section__tags a {
  color: rgb(56, 56, 56);
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
}
.menu_section .side-menu--main .tags-container .menu_section__tags a:hover {
  background-color: rgb(224, 225, 240);
  border-radius: 0.3rem;
  color: rgb(50, 57, 169);
}
.menu_section .side-menu--main .menu_section__card {
  background-color: rgb(249, 249, 249);
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.05);
  display: grid;
  margin: 1rem 0 0 0;
  width: 250px;
}
.menu_section .side-menu--main .menu_section__card .menu_section__card__title {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.menu_section .side-menu--main .menu_section__card .menu_section__card__title h3 {
  font-size: small;
  margin: 0;
  padding: 0.5rem 0.5rem;
}
.menu_section .side-menu--main .menu_section__card .menu_section__card__title i {
  padding: 0.5rem;
}
.menu_section .side-menu--main .menu_section__card .menu_section__card__title i:hover {
  background-color: rgb(224, 225, 240);
  border-radius: 0.3rem;
  color: rgb(50, 57, 169);
}
.menu_section .side-menu--main .menu_section__card .menu_section__card__image {
  display: flex;
  margin: 1rem;
}
.menu_section .side-menu--main .menu_section__card .menu_section__card__image img {
  border-radius: 6px;
  height: 90px;
  width: 210px;
}
.menu_section .side-menu--main .menu_section__card p {
  margin: 0.5rem 1rem;
  max-width: auto;
}
.menu_section .side-menu--main .menu_section__card p strong span {
  font-size: 25px;
}
.menu_section .side-menu--main .menu_section__card p a {
  color: rgb(55, 64, 215);
}
.menu_section .side-menu--main .menu_section__card p a:hover {
  color: rgb(44, 51, 166);
}

.listing_section aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}
.listing_section aside .user_profile {
  background-color: rgb(249, 249, 249);
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.05);
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  width: 350px;
}
.listing_section aside .user_profile:before {
  background-color: cadetblue;
  content: " ";
  display: flex;
  padding: 15px 600px;
  position: absolute;
  right: 0px;
}
.listing_section aside .user_profile .user_profile--name {
  align-items: center;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
  position: relative;
}
.listing_section aside .user_profile .user_profile--name h2 {
  font-size: 20px;
  font-weight: bold;
  left: 60px;
  position: absolute;
  top: 45px;
}
.listing_section aside .user_profile .user_profile--name img {
  border-radius: 50%;
  border: solid 1px rgba(120, 120, 120, 0.3);
  height: 50px;
  width: 50px;
}
.listing_section aside .user_profile a {
  background-color: rgb(55, 64, 214);
  border-radius: 6px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
}
.listing_section aside .user_profile a:hover {
  background-color: rgb(44, 51, 166);
}
.listing_section aside .user_profile .description {
  color: gray;
  padding-top: 20px;
}
.listing_section aside .user_profile .user_profile--info h3 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}
.listing_section aside .user_profile .user_profile--info p {
  color: gray;
}
.listing_section aside .listing_section__card {
  background-color: rgb(249, 249, 249);
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.05);
  width: 350px;
}
.listing_section aside .listing_section__card .listing_section__card--title {
  display: flex;
  justify-content: space-between;
  padding: 16px 12px;
}
.listing_section aside .listing_section__card .listing_section__card--title h2 {
  font-size: 20px;
  font-weight: bold;
}
.listing_section aside .listing_section__card .listing_section__card--title a {
  color: rgb(55, 64, 215);
  text-decoration: none;
}
.listing_section aside .listing_section__card .listing_section__card--list {
  border-top: solid 1px rgba(56, 56, 56, 0.1);
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.listing_section aside .listing_section__card .listing_section__card--list:hover {
  background-color: rgb(255, 255, 255);
}
.listing_section aside .listing_section__card .listing_section__card--list p {
  margin: 0;
}
.listing_section aside .listing_section__card .listing_section__card--list p:nth-child(1) {
  color: rgb(56, 56, 56);
}
.listing_section aside .listing_section__card .listing_section__card--list p:nth-child(1):hover {
  color: rgb(44, 51, 166);
}
.listing_section aside .listing_section__card .listing_section__card--list p:nth-child(2) {
  color: rgb(56, 56, 56);
  font-size: 13px;
  margin-top: 5px;
}
.listing_section aside .listing_section__card .listing_section__card--list .new {
  background-color: rgb(252, 205, 56);
  border-radius: 6px;
  color: brown !important;
  padding: 2px;
  width: -moz-fit-content;
  width: fit-content;
}
.listing_section aside .listing_section__card .last:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.listing_section aside .listing_section__card .listing_section__card--foot {
  border-top: solid 1px rgba(56, 56, 56, 0.1);
  display: flex;
  justify-content: center;
  padding: 5px 0;
}
.listing_section aside .listing_section__card .listing_section__card--foot p {
  color: rgb(56, 56, 56);
  margin: 6px;
}
.listing_section aside .listing_section__card .listing_section__card--foot p:hover {
  color: rgb(44, 51, 166);
}/*# sourceMappingURL=styles.css.map */