@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap%27');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.row, .col-2, .col-7, .col-3 {
    background-color: rgb(243, 243, 243);
    margin: 0 !important;
}

//MARK - inicia parte de Pao
.post_section {
    & .post_section__main {
      background-color: rgb(243, 243, 243);
      width: 750px;
      padding-top: 20px;
      & .post_section__main--bluecard {
        background-color: rgb(55, 64, 215);
        border-radius: 6px;
        display: flex;
        flex-wrap: wrap;
        padding: 40px;
        justify-content: space-between;
        & .logo {
          display:flex;
          & img {
            display: inline;
            height: 100px;
            width: 100px;
          }
        }
        & .boton-close {
          & button {
            background-color: transparent;
            border: 0;
            color: white;
          }
        }
        & .emojis {
          flex: 1 1 100%;
          & h2 {
            color: white;
            margin-top: 8px;
            margin-bottom: 0;
            font-weight: bolder;
          }
          & p {
            color: rgb(184, 187, 241);
            margin: 0;
            font-size: .8rem;
          }
          & ul {
            list-style: none;
            padding-left: 0;
            padding-top: 20px;
            padding-right: 40px;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            & li {
              background-color: rgb(95, 102, 223);
              border-radius: 6px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 20px;
              flex: 1 1 100%;
              &:hover {
                background-color: rgb(115, 122, 227);
              }
              & a {
                color: white;
                text-decoration: none;
                font-weight: 500;
              }
              & i {
                color:white;
              }
  
            }
          }
        }
      }
      & .post_section__main--menu-aling {
        padding: 15px;
       & a {
        color: #575757;
        font-size: 18px;
        text-decoration: none;
        padding: 12px 10px;
  
        &:hover {
          background-color: white;
          box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.05);
          border-radius: 6px;
          color: rgb(50, 57, 169);
        }
       } 
      }
      & .post_section__main--post {
        background-color: white;
        border-radius: 6px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        & .post-img {
          flex: 1 1 100%;
          height: 200px;
          display: flex;
          background-image: url(https://picsum.photos/700/1000);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
        }

        //FIXME: IMG WRAP 
        & .user-img {
          padding: 10px;
          display: flex;
          justify-content: end;
          padding-right: 10px;
          padding-top: 15px;
          align-items: center;

          & .user-data{
            display: flex;
            flex-wrap: wrap;

            & .user-post--name {
              flex: 1 1 100%;
              color: #474747;
              display: block;
              font-size: 18px;
              margin-top: 15px;
              text-decoration: none;
              & span {
                border-radius: 6px;
                padding: 4px;
                &:hover {
                  background-color: rgb(246, 246, 246);
                }
              }
            }

            & .user-post--date{
              flex: 1 1 100%;
              color: #979494;
              text-decoration: none;
              &:hover {
                color: black;
              }
            }

          }


          & img {
            margin-top: 5px;
            border-radius: 50%;
            height: 40px;
            width: 40px;
          }
        }
        & .user-post {
          display: flex;
          flex-wrap: wrap;
          padding-left: 50px;
          border: solid 1px darkblue;

          & .top-comments {
            display: flex;
            width: 100%;
            flex-direction: column;
            border-top: solid 1px black;
            margin-top: 20px;

            & .top-comments--bottom {
              display: flex;
              justify-content: center;
              padding-left: 30px;
              padding-right: 30px;
              
              & div {
                display: flex;
                padding: 10px;
                gap: 15px;
              }

            }

            & .top-comments--textarea {
              display: flex;
              padding-top: 20px;
              justify-content: space-between;

              & img {
                margin-top: 5px;
                border-radius: 50%;
                height: 40px;
                width: 40px;
              }

          
            }

            & .top-comments--subscribe {
              display: flex;
              justify-content: space-around;
              align-content: center;
              align-items: center;
              padding-top: 20px;
              gap: 40%;

              & h2 {
                margin: 0;
                font-size: 20px;
                white-space: nowrap;
                
              }

              & a {
                background-color: rgb(249, 249, 249);
                border: solid 1px rgb(50, 57, 169);
                border-radius: 6px;
                padding: 7px 15px;
                text-decoration: none;
                color: rgb(50, 57, 169);

                &:hover {
                    background: rgb(50, 57, 169);
                    color: #ffff;
                    text-decoration: underline;
                }
              }

            }

          }



          & .user-post--name{
            color: #474747;
            display: block;
            font-size: 18px;
            margin-top: 15px;
            & span {
              border-radius: 6px;
              padding: 4px;
              &:hover {
                background-color: rgb(246, 246, 246);
              }
            }
          }
          & .user-post--date {
            color: #979494;
            &:hover {
              color: black;
            }
          }
  
          & .user-post--title {
            font-size: xx-large;
            font-weight: bold;
            &:hover {
              color: rgb(43,50 ,164);
            }
          }
          & a {
            flex: 1 1 100%;
            color: rgb(23, 23, 23);
            text-decoration: none;
          }
          & .hash {
            flex: 1 1 100%;
            margin: 10px 0px;
            & a {
              border-radius: 6px;
              padding: 7px;
              &:hover {
                background-color: rgb(246, 246, 246);
                box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
              }
            }
          }
          & .comments {
            flex: 1 1 100%;
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            & .time {
              display: flex;
              padding-right: 30px;
              gap: 15px;
              justify-content: end;
              align-items: center;
              & i {
                align-items: center;
                display: flex;
                padding: 10px;
                &:hover {
                  color: rgb(50, 57, 169);
                  border-radius: .3rem;
                  background-color: rgb(224, 225, 240);
                }
              }
            }
            & .add {
              display: flex;
              & span {
                padding: 8px;
                border-radius: 6px;
                &:hover {
                  background-color: rgb(246, 246, 246);
                  box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
                }
                &::before {
                  display: inline-block;
                  font-family: "Font Awesome 5 Free";
                  content: "\f075";
                  padding-right: 5px;
                }
              }
            }
          }
        }
      }
    }
  }

  //MARK - inicia parte de Pao


// MARK - INICIA PARTE DE KAR

.header {
    background-color: rgb(245, 245, 245);
    display: flex;
    height: 60px;
    border-bottom: solid 1px  rgb(150, 150, 150);
    box-shadow: 0 0 0 2px rgba(23, 23, 23, 0.05);
    position: sticky;
    top: 0;
    z-index: 999;

    & .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        
        & .icons {
            display: flex;
            padding-right: 100px;
            & .create-post {
                align-items: center;
                display: flex;
                gap: 15px;
                & .bell {
                    font-size: 23px;
                    padding: 5px 10px;
                    position: relative;
                    &::after {
                      content: "20";
                      font-family: "Inter", sans-serif;
                      position: absolute;
                      font-size: 10px;
                      padding: 3px;
                      border-radius: 6px;
                      background-color: red;
                      color: white;
                      left: 19px;
                      bottom: 18px
                    }
                    &:hover{
                        color: rgb(50, 57, 169);
                        border-radius: .3rem;
                        background-color: rgb(224, 225, 240);
                    }

                } 
                & .user {
                    font-size: 23px;

                    &:hover{
                        border-radius: 50%; 
                        box-shadow: 0 0 0 8px rgba(23, 23, 23, 0.05);
                    }

                } 
                & a {
                    background-color: rgb(249, 249, 249);
                    border: solid 1px rgb(50, 57, 169);
                    border-radius: 6px;
                    padding: 7px 15px;
                    text-decoration: none;
                    color: rgb(50, 57, 169);

                    &:hover {
                        background: rgb(50, 57, 169);
                        color: #ffff;
                        text-decoration: underline;
                    }
                }   
            }
         }
        & .logo-search {
            padding-left: 65px;
            display: flex;
            gap: 20px;
            & img {
                width: 40px;
                border-radius: 10%;
            }
            & .search-bar {
                display: flex;
                border-radius: 6px;
                background-color:white;
                justify-content: space-between;
                align-items: center;
                border:  solid 1px rgb(120, 120, 120);
                &:hover {
                    border:solid 2px rgb(50, 57, 169);
                }
                & input {
                    border-width: 0px;
                    border-style: none;
                    border-color:transparent;
                    padding: 5px;
                    outline: none;
                }
                & img {
                    width: 40px;
                    padding: 5px;
                    &:hover {
                        color: rgb(50, 57, 169);
                        border-radius: .3rem;
                        background-color: rgb(224, 225, 240);
                    }
                }

            }
        }
    }
}
//MARK - TERMINA PARTE DE KAR


//MARK - INICIA PARTE DE SAM
.row_footer {
    background:rgb(229 229 229);
    display: flex;
    height: 100%;
    padding: 50px 80px;
    width: 100%;
    justify-content: center;

    & .footer_container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 80px;

        & .text_1 { 
            & p {
                align-items: center;
                display:flex;
                font-family:"Roboto", sans-serif;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 0;
                padding: 4px;
                font-size: 14px;
                width: auto;
                & a {
                    color: rgb(59 73 223);
                    font-family: "Roboto", sans-serif;
                    font-weight:bolder;
                    font-size: 14px;
                    transition: 0.3s;
                    text-decoration: none;
                }
            }
        } 
    }

    & .a_list, .b_list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 4px;
            padding: 20px;
            padding-top: 0;
            padding-bottom: 0;
            width: auto;

            & li {
                display: block;
                color: rgb(59 73 223);
                font-family:"Roboto", sans-serif;
                font-size: 14px;
                padding: 3px;
                list-style: none;
                
                & a {
                    white-space: nowrap;
                    color: rgb(59 73 223);
                    font-family: "Roboto", sans-serif;
                    text-decoration: none;
                }

                & span {
                    color: rgb(113, 112, 112); 
                    margin: 5px;
                }
                    
            }
                
        }

    & .text_2 {
        & p {
            align-items: center;
            font-family:"Roboto", sans-serif;
            font-size: 14px;
            display:flex;
            flex-direction: row;
            justify-content: center;
            gap: 5px;
            padding:0;
            margin: 0;
            width: auto;
        
            & .final_anchor2 {
                font-family:"Roboto", sans-serif;
                text-decoration: none;
                color:rgb(59 73 223);
    
            }
        }
    }
    & .names{
        display:flex;
        flex-direction: row;
        gap: 3px;
        font-size: 5px;
        color: rgb(188, 183, 183);
    }
}
//MARK - TERMINA PARTE DE SAM

//MARK - INICIA PARTE DE ROB
.menu_section {
    background-color: rgb(243, 243, 243);
    min-width: 300px;
    align-items: start;

    & .side-menu--post {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding-right: 20px;
      padding-top: 100px;
      align-items: center;
      align-content: center;
      justify-content: center;

      & .heart {
        & i {
          font-size: 20px;
          margin-top: 25px;
          text-align: center;
          &:hover {
            color: red;
          }
        }
  
        & p {
          text-align: center;
        }
      }

      & .comment {
        & i {
          &:hover {
            color: orange;
          }
        }
      }

      & .bookmark {
        & i {
          &:hover {
            color: rgb(43, 50 ,164);
          }
        }
      }

      & .points {
        & i {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 35px;
          width: 35px;
          &:hover {
            border-radius: 50%;
            background-color: rgb(224, 225, 240);
          }
        }
      }


    }

    & .side-menu--main {
      padding-top: 20px;
      display: grid;
      place-content: center;
        
        & .menu_section__sidebar__menu {     
            display: flex;
            width: 100%;
            
            & .menu_section__sidebar__menu__list {
                display: flex;
                flex-direction: column;
                padding: 0;
                list-style-type: none;
                
                & .menu_section__sidebar__title {
                    margin: 0;
                    font-size: medium;
                    font-weight: bold;
                    padding: 1rem 1rem .5rem .5rem;
                }
                
                & li {
                    margin: 0;
                    width: 260px;    
                    
                    & a {
                        color: rgb(56, 56, 56);
                        display: flex;
                        text-decoration: none;
                        margin: 0;
                        font-size: medium;
                        padding: .5rem;
                        
                        & img {
                            width: 25px;
                            height: 25px;
                            position: relative;
                            bottom: 1px;
                        }
                        
                        &:hover {
                            color: rgb(50, 57, 169);
                            text-decoration: underline;
                            border-radius: .3rem;
                            background-color: rgb(224, 225, 240);
                            
                        }
                    }
                }
            }
        }

        .social-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .menu_section__social {
                display: flex;
                width: 100%;
                font-size: 22px;
                justify-content: space-around;
                align-items: center;
                
                & a {
                    color: rgb(56, 56, 56);
                    text-decoration: none;
                    padding: .5rem;
                    
                    &:hover {
                        color: rgb(50, 57, 169);
                        border-radius: .3rem;
                        background-color: rgb(224, 225, 240);
                    }
                }
            }

        }
        

        .tags-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .menu_section__tags {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 0 4rem 0;
                font-size: 22px;
                width: 100%;
                
                & .menu_section__tags__title {
                    margin: 0;
                    font-size: medium;
                    font-weight: bold;
                }
                
                & a {
                    color: rgb(56, 56, 56);
                    text-decoration: none;
                    text-align: center;
                    padding: .5rem;
                    
                    &:hover {
                        color: rgb(50, 57, 169);
                        border-radius: .3rem;
                        background-color: rgb(224, 225, 240);
                    }
                }
            }
        }
        .menu_section__card {
            display: grid;
            width: 250px;
            margin: 1rem 0 0 0;
            background-color:rgb(249, 249, 249);
            border-radius: 8px;
            box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.05);
            
            & .menu_section__card__title {
                display: flex;
                justify-content: space-between;
                padding: .5rem;

                
                & h3 {
                    margin: 0;
                    font-size: small;
                    padding: .5rem .5rem;
                }
                
                & i {
                    padding: .5rem;
                    
                    &:hover {
                        color: rgb(50, 57, 169);
                        border-radius: .3rem;
                        background-color: rgb(224, 225, 240);
                    }
                }
            }
            
            .menu_section__card__image {
                display: flex;
                margin: 1rem;
                
                & img {
                    width: 210px;
                    height: 90px;
                    border-radius: 6px;
                }
            }
            
            
            & p {
                margin: .5rem 1rem;
                max-width: auto;
                
                & strong {
                    
                    & span {
                        font-size: 25px;
                    }
                }
                
                
                & a {
                    color: rgb(55, 64, 215);
                    
                    &:hover {
                        color: rgb(44, 51, 166);
                    }
                }
            }    
        }
    }
}
//MARK - TERMINA PARTE DE ROB


//MARK - INICIA PARTE DE MAX

.listing_section {

  & aside {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .listing_section__card {
      border-radius: 20px;
      width: 350px;
      background-color: rgb(249, 249, 249);
      box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.05);
      
      & .listing_section__card--title {
        display: flex;
        justify-content: space-between;
        padding: 16px 12px;
  
        & h2 {
          font-size: 20px;
          font-weight: bold;
        }
        & a {
          text-decoration: none;
          color: rgb(55, 64, 215);
        }
  
      }
      & .listing_section__card--list {
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-top: solid 1px rgba(56, 56, 56, 0.1);
        
        &:hover {
          background-color: rgb(255, 255, 255);
        }   
  
        & p {
          margin: 0;
               
          &:nth-child(1) {
            color: rgb(56, 56, 56);
            &:hover {
              color: rgb(44, 51, 166);
            }
          }
          &:nth-child(2){
            color: rgb(56, 56, 56);
            margin-top: 5px;
            font-size: 13px;
          }
        }
        
        & .new {
          background-color: rgb(252, 205, 56);
          padding: 2px;
          border-radius: 6px;
          width: fit-content;
          color: brown !important;
        }
      }

      & .last {
        &:hover {
          background-color: rgb(255, 255, 255);
          border-radius: 20px;
        }
      }
  
      & .listing_section__card--foot {
        display: flex;
        justify-content: center;
        padding: 5px 0;
        border-top: solid 1px rgba(56, 56, 56, 0.1);
        & p {
          margin: 6px;
          color: rgb(56, 56, 56);
  
          &:hover {
            color: rgb(44, 51, 166);
          }
        }
      }
    }
  }
}

// .col-3  {
//     // border: dashed 15px blue;
//     background: rgb(247, 246, 246);
//     border-radius: 2%;
//     box-shadow: 0 0 0 1px rgba(220, 220, 220, 0.875);
//      a {
//         color: black;
//         text-decoration: none;
//         padding-left: 10px;
//         padding-right: 10px;
//         }
//     }
    
//     .listing_section .box1{
//         display: grid;
//         grid-template-rows: auto auto auto auto auto auto  auto;
//         gap: 15px;
//         box-shadow: 0 0 0 1px rgba(220, 220, 220, 0.119);
//         grid-template-rows: auto ;
    
//         div {
//         font-family: system-ui, system-ui, "-apple-system", "BlinkMacSystemFont", 'Segoe UI', "Roboto", "Oxygen", "Ubuntu", "Cantarell", 'Open Sans', 'Helvetica Neue', sans-serif, "BlinkMacSystemFont", 'Segoe UI', "Roboto", 'Helvetica Neue', sans-serif;
//         font-size: 1rem;
//         font-weight: 450;
//         margin: 0px;
//         width: 100%;
//        }
//        span {
//             &:hover{
//                 background: #fff;
//             }
//         }
//         h6{
//             color: rgb(91, 91, 91);
//             font-family: sans-serif;
//             font-size: .850rem;
//             margin-top: 4px;
//             width: 100%;
//            }
//            .span1 {
//             display: grid;
//             grid-template-columns: 1fr 1fr;
//             margin-top: 15px;
//             padding-left: 10px;
//             padding-right: 5px;
//             &:hover {
//                     background:rgb(247, 246, 246);
//                 }
//                 .divide_box1_1 {
//                     color: rgb(71, 71, 71);
//                     font-size: 1.25rem;
//                     font-weight: bold;
//                 }
//                 .divide_box1_2 {
//                     color: rgb(59, 73, 223);
//                     font-size: .9rem;
//                     justify-self: right;
//                     padding-right: 5px;
//                     font-weight: 550;
//                 }
//         }
        
//         .span7 {
//             display: flex;
//             justify-content: space-around;
           
//            .divide_box1_13 {
//             font-size: 1rem;
//             font-weight: 500;
//             padding-bottom: 10px;
//            }
//                 &:hover {
//                 background:rgb(247, 246, 246);
//         }
//         }
           
//     }
    
//        .listing_section .box2{
//         display: grid;
//         gap: 15px;
//         grid-template-rows: auto auto auto auto;
//         div {
//             font-family: system-ui, system-ui, "-apple-system", "BlinkMacSystemFont", 'Segoe UI', "Roboto", "Oxygen", "Ubuntu", "Cantarell", 'Open Sans', 'Helvetica Neue', sans-serif, "BlinkMacSystemFont", 'Segoe UI', "Roboto", 'Helvetica Neue', sans-serif;
//             font-size: 1rem;
//             font-weight: 450;
//             margin: 0px;
//             width: 100%;
//            }
           
//            span {
//             box-shadow: 0 0 0 1px rgba(220, 220, 220, 0.12);
//             gap: 5px;
//             grid-template-rows: auto auto;
//             padding: 2px;
//             &:hover{
//                 background: #fff;
//             }
//         }
     
//         h6{
//             color: rgb(91, 91, 91);
//             font-family: sans-serif;
//             font-size: .850rem;
//             margin-top: 4px;
//             width: 100%;
//            }
           
//         .minibox1 .divide_box_2_0 {
//             font-size: 1.1rem;
//             font-weight: 700;
//            }
//            .divide_box2_2{
//             background-color: rgb(252, 211, 77);
//             display: inline;
//         } 
//     }
    //MARK - INICIA PARTE DE MAX
