@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
}

.col-2, .col-7, .col-3 {
    margin: 0 !important;
    padding: 0 !important;
}

.col-3  {
// border: dashed 15px blue;
background: rgb(247, 246, 246);
border-radius: 2%;
box-shadow: 0 0 0 1px rgba(220, 220, 220, 0.875);
 a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    }
}

.listing_section .box1{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto  auto;
    gap: 15px;
    box-shadow: 0 0 0 1px rgba(220, 220, 220, 0.119);
    grid-template-rows: auto ;

    div {
    font-family: system-ui, system-ui, "-apple-system", "BlinkMacSystemFont", 'Segoe UI', "Roboto", "Oxygen", "Ubuntu", "Cantarell", 'Open Sans', 'Helvetica Neue', sans-serif, "BlinkMacSystemFont", 'Segoe UI', "Roboto", 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 450;
    margin: 0px;
    width: 100%;
   }
   span {
        &:hover{
            background: #fff;
        }
    }
    h6{
        color: rgb(91, 91, 91);
        font-family: sans-serif;
        font-size: .850rem;
        margin-top: 4px;
        width: 100%;
       }
       .span1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 15px;
        padding-left: 10px;
        padding-right: 5px;
        &:hover {
                background:rgb(247, 246, 246);
            }
            .divide_box1_1 {
                color: rgb(71, 71, 71);
                font-size: 1.25rem;
                font-weight: bold;
            }
            .divide_box1_2 {
                color: rgb(59, 73, 223);
                font-size: .9rem;
                justify-self: right;
                padding-right: 5px;
                font-weight: 550;
            }
    }
    
    .span7 {
        display: flex;
        justify-content: space-around;
       
       .divide_box1_13 {
        font-size: 1rem;
        font-weight: 500;
        padding-bottom: 10px;
       }
            &:hover {
            background:rgb(247, 246, 246);
    }
    }
       
}

   .listing_section .box2{
    display: grid;
    gap: 15px;
    grid-template-rows: auto auto auto auto;
    div {
        font-family: system-ui, system-ui, "-apple-system", "BlinkMacSystemFont", 'Segoe UI', "Roboto", "Oxygen", "Ubuntu", "Cantarell", 'Open Sans', 'Helvetica Neue', sans-serif, "BlinkMacSystemFont", 'Segoe UI', "Roboto", 'Helvetica Neue', sans-serif;
        font-size: 1rem;
        font-weight: 450;
        margin: 0px;
        width: 100%;
       }
       
       span {
        box-shadow: 0 0 0 1px rgba(220, 220, 220, 0.12);
        gap: 5px;
        grid-template-rows: auto auto;
        padding: 2px;
        &:hover{
            background: #fff;
        }
    }
 
    h6{
        color: rgb(91, 91, 91);
        font-family: sans-serif;
        font-size: .850rem;
        margin-top: 4px;
        width: 100%;
       }
       
    .minibox1 .divide_box_2_0 {
        font-size: 1.1rem;
        font-weight: 700;
       }
       .divide_box2_2{
        background-color: rgb(252, 211, 77);
        display: inline;
    } 
}
   
.row {
    margin: 0 !important;
    padding: 0 !important;
}

.header {
    background-color: rgb(245, 245, 245);
    display: flex;
    height: 60px;
    border-bottom: solid 1px  rgb(150, 150, 150);
    box-shadow: 0 0 0 2px rgba(23, 23, 23, 0.05);


    & .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .icons {
            display: flex;
            padding-right: 65px;
            & .create-post {
                align-items: center;
                display: flex;
                gap: 15px;
                & .bell {
                    font-size: 23px;
                    padding: 5px 10px;
                    &:hover{
                        color: rgb(50, 57, 169);
                        border-radius: .3rem;
                        background-color: rgb(224, 225, 240);
                    }
                    
                } 
                & .user {
                    font-size: 23px;
                    
                    &:hover{
                        border-radius: 50%; 
                        box-shadow: 0 0 0 8px rgba(23, 23, 23, 0.05);
                    }
                    
                } 
                & a {
                    background-color: rgb(249, 249, 249);
                    border: solid 1px rgb(50, 57, 169);
                    border-radius: 6px;
                    padding: 7px 15px;
                    text-decoration: none;
                    color: rgb(50, 57, 169);

                    &:hover {
                        background: rgb(50, 57, 169);
                        color: #ffff;
                        text-decoration: underline;
                    }
                }   
            }
         }
        & .logo-search {
            padding-left: 65px;
            display: flex;
            gap: 20px;
            & img {
                width: 40px;
                border-radius: 10%;
            }
            & .search-bar {
                display: flex;
                border-radius: 6px;
                background-color:white;
                justify-content: space-between;
                align-items: center;
                border:  solid 1px rgb(120, 120, 120);
                &:hover {
                    border:solid 2px rgb(50, 57, 169);
                }
                & input {
                    border-width: 0px;
                    border-style: none;
                    border-color:transparent;
                    padding: 5px;
                    outline: none;
                }
                & img {
                    width: 30px;
                    padding: 5px;
=======
.row_footer {
    background:rgb(229 229 229);
    display: flex;
    height: 100%;
    padding: 50px 80px;
    width: 100%;
    .footer_container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 80px;

        .text_1 p{
            align-items: center;
            display:flex;
            font-family:"Roboto", sans-serif;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 0;
            padding: 4px;
            font-size: 14px;
            width: auto;
            a {
                color: rgb(59 73 223);
                font-family: "Roboto", sans-serif;
                font-weight:bolder;
                font-size: 14px;
                transition: 0.3s;
                text-decoration: none;
                }
            
        }

    }

    .a_list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 7px;
            justify-content: center;
            margin: bottom 4px;;
            padding: 20px;
            width: auto;

            li {
                color: rgb(59 73 223);
                font-family:"Roboto", sans-serif;
                font-size: 14px;
                margin: 0;
                padding: 3px;
                list-style: none;
                
            a {
                    color: rgb(59 73 223);
                    font-family: "Roboto", sans-serif;
                    text-decoration: none;
            
                }
                    
            }
                
        }
    .text_2 p{
        align-items: center;
        font-family:"Roboto", sans-serif;
        font-size: 14px;
        display:flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        padding:0;
        margin: 0;
        width: auto;
    
        .final_anchor2 {
            font-family:"Roboto", sans-serif;
            text-decoration: none;
            color:rgb(59 73 223);

        }
    }
    .names{
        display:flex;
        flex-direction: row;
        gap: 3px;
        font-size: 5px;
        color: rgb(188, 183, 183);
    }
            

}


.menu_section {
    background-color: rgb(243, 243, 243);
    min-width: 300px;
    
    & aside {
        display: grid;
        place-content: center;
        
        & .menu_section__sidebar__menu {     
            display: flex;
            width: 100%;
            
            & .menu_section__sidebar__menu__list {
                display: flex;
                flex-direction: column;
                padding: 0;
                list-style-type: none;
                
                & .menu_section__sidebar__title {
                    margin: 0;
                    font-size: medium;
                    font-weight: bold;
                    padding: 1rem 1rem .5rem .5rem;
                }
                
                & li {
                    margin: 0;
                    width: 260px;    
                    
                    & a {
                        color: rgb(56, 56, 56);
                        display: flex;
                        text-decoration: none;
                        margin: 0;
                        font-size: medium;
                        padding: .5rem;
                        
                        & img {
                            width: 25px;
                            height: 25px;
                            position: relative;
                            bottom: 1px;
                        }
                        
                        &:hover {
                            color: rgb(50, 57, 169);
                            text-decoration: underline;
                            border-radius: .3rem;
                            background-color: rgb(224, 225, 240);
                            
                        }
                    }
                }
            }
        }

        .social-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .menu_section__social {
                display: flex;
                width: 100%;
                font-size: 22px;
                justify-content: space-around;
                align-items: center;
                
                & a {
                    color: rgb(56, 56, 56);
                    text-decoration: none;
                    padding: .5rem;
                    
                    &:hover {
                        color: rgb(50, 57, 169);
                        border-radius: .3rem;
                        background-color: rgb(224, 225, 240);
                    }
                }
            }

        }
        

        .tags-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .menu_section__tags {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 0 4rem 0;
                font-size: 22px;
                width: 100%;
                
                & .menu_section__tags__title {
                    margin: 0;
                    font-size: medium;
                    font-weight: bold;
                }
                
                & a {
                    color: rgb(56, 56, 56);
                    text-decoration: none;
                    text-align: center;
                    padding: .5rem;
                    
                    &:hover {
                        color: rgb(50, 57, 169);
                        border-radius: .3rem;
                        background-color: rgb(224, 225, 240);
                    }
                }

            }
        }
    }

}


            }
        }
        .menu_section__card {
            display: grid;
            width: 250px;
            margin: 1rem 0 0 0;
            background-color:rgb(249, 249, 249);
            border-radius: 8px;
            box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.05);
            
            & .menu_section__card__title {
                display: flex;
                justify-content: space-between;
                padding: .5rem;

                
                & h3 {
                    margin: 0;
                    font-size: small;
                    padding: .5rem .5rem;
                }
                
                & i {
                    padding: .5rem;
                    
                    &:hover {
                        color: rgb(50, 57, 169);
                        border-radius: .3rem;
                        background-color: rgb(224, 225, 240);
                    }
                }
            }
            
            .menu_section__card__image {
                display: flex;
                margin: 1rem;
                
                & img {
                    width: 210px;
                    height: 90px;
                    border-radius: 6px;
                }
            }
            
            
            & p {
                margin: .5rem 1rem;
                max-width: auto;
                
                & strong {
                    
                    & span {
                        font-size: 25px;
                    }
                }
                
                
                & a {
                    color: rgb(55, 64, 215);
                    
                    &:hover {
                        color: rgb(44, 51, 166);
                    }
                }
            }    
        }
    }
}
